/* .conciliacion-card {
    background-color: transparent;
    width: 18rem;
    height: 20rem;
    perspective: 1000px;
    font-family: sans-serif;
  } */
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .conciliacion-card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(109, 128, 134);
    border-radius: 1rem;
  }
  
  .card-front {
    /* background: linear-gradient(120deg,  rgb(224, 217, 150) 60%, antiquewhite 88%,
    #d1b980 40%, #d82b56 48%); */

  }
  
  .card-back {
    /* background: -webkit-linear-gradient(90deg,#2b577f,#369bdb); Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(90deg,#2b577f,#369bdb); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* transform: rotateY(180deg); */
  }

  .card-back {

    transform: rotateY(180deg);
  }